@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lora", serif;
  line-height: 1.6;
}

.header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url("images/4K.png");
  position: relative;
}

.main-nav {
  padding-top: 10px;
  display: flex;
  width: 1140px;
  margin: 0 auto;
  color: #274438;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
}
.main-nav-list-item {
  display: inline-block;
  padding: 10px;
}
.main-nav-list-item-link:link, .main-nav-list-item-link:visited {
  color: #274438;
  text-decoration: none;
  transition: all 0.2s;
}
.main-nav-list-item-link:hover, .main-nav-list-item-link:active {
  color: #CEC3AE;
}
.main-nav .black {
  background-color: #111111 !important;
  font-size: 16px !important;
}

.header-logo {
  width: 175px;
}

.product-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.product-image-box {
  flex: 0 0 30%;
}

.product-description-box {
  flex: 1;
  text-align: center;
}

.product-image {
  width: 300px;
  display: block;
}

.heading-one {
  font-size: 45px;
  color: #274438;
  text-transform: uppercase;
}
.heading-one-span-1 {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}
.heading-one-span-2 {
  display: block;
  width: 80%;
  margin: 10px auto 20px auto;
  font-size: 22px;
  font-weight: bold;
  color: #274438;
}

.btn-buy:link,
.btn-buy:visited {
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background: #274438;
  border: 1px solid #274438;
  box-sizing: border-box;
  border-radius: 50px;
  transition: all 0.2s;
}

.btn-buy:hover,
.btn-buy:active {
  color: #CEC3AE;
}

.separator {
  text-align: center;
}

.image-separator {
  height: 30px;
  opacity: 70%;
}

.section-one {
  padding: 80px 0 60px 0;
  background: #274438;
}

.heading-two {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

.para-copy {
  display: block;
  width: 500px;
  margin: 20px auto 20px auto;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.coffee-images {
  width: 1000px;
  margin: 60px auto -100px auto;
  display: flex;
  justify-content: space-evenly;
}

.coffee-1,
.coffee-2 {
  display: block;
  width: 300px;
  border: 5px solid #CEC3AE;
  border-radius: 50px;
}

.section-middle {
  padding: 120px 0 70px 0;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.975), rgba(255, 255, 255, 0.975)), url("images/4K.png");
}

.middle-box {
  display: flex;
  width: 1140px;
  margin: 50px auto 0 auto;
  justify-content: center;
  align-items: center;
}
.middle-box-image {
  flex-basis: 50%;
  text-align: right;
  padding-right: 3%;
}
.middle-box-description {
  font-size: 18px;
  flex-basis: 50%;
  padding-left: 3%;
}

.middle-image {
  display: block;
  border: 5px solid #CEC3AE;
  border-radius: 50px;
  width: 100%;
}

.middle-description {
  margin-bottom: 40px;
  display: flex;
}
.middle-description div {
  color: #274438;
  border: 1.5px solid #274438;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 24px;
  margin-right: 25px;
}

/*.middle-description div {
  color: red;
}*/
.section-two {
  padding: 80px 0;
  background: #CEC3AE;
}

.story {
  color: #274438;
}

.story-box {
  width: 1000px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.story-image {
  flex-basis: 40%;
  text-align: center;
}
.story-image .bio-image {
  width: 300px;
  border-radius: 50%;
}
.story-image .bio-name {
  font-style: italic;
  color: #274438;
}
.story-image .bio-title {
  font-style: italic;
  font-weight: bold;
  color: #274438;
}

.story-description {
  border-radius: 50px;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url("images/4K.png");
  flex-basis: 55%;
}
.story-description .story-para {
  text-align: left;
  padding: 40px 10px;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.story-description .story-para::before {
  display: block;
  font-family: serif;
  content: "“";
  font-size: 200px;
  position: absolute;
  top: -100px;
  left: -95px;
  color: #CEC3AE;
}

.section-last {
  padding: 20px 0 90px 0;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url("images/4K.png");
  text-align: center;
}
.section-last .product-last-box {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-last .product-last-box .product-last {
  width: 300px;
  margin: 80px 0 60px 0;
}

.footer {
  padding: 30px;
  background-color: #111111;
  font-size: 20px;
}

.footer-content {
  width: 1000px;
  margin: 0 auto;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}
.footer-box span a:link,
.footer-box span a:visited {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s;
}
.footer-box span a:hover,
.footer-box span a:active {
  color: #CEC3AE;
}

.footer-image {
  text-align: center;
}

.footer-logo {
  width: 100px;
}

.footer-item {
  padding: 10px;
}

.footer-copy {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
