//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

//Variables
$-color-white: #ffffff;
$-color-dark-grey: #494949;
$-color-sand: #CEC3AE;
$-color-dark-green: #274438;
$-color-black-1: #111111;


//Inital Setup
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  //color: #444;
  font-family: 'Lora', serif;
  line-height: 1.6;
  //font-weight: 400;
}

.header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,.97), rgba(255,255,255,.97)), url("images/4K.png") ;

  //display: flex;
//  align-items: center; //Cross Axis
 // justify-content: center; //Main Axis
  position: relative;

}

.main-nav {
  padding-top: 10px;
  display: flex;

  //width: 1000px;
  width: 1140px;
  margin: 0 auto;
  //color: $-color-black-1;
  color: $-color-dark-green;
  justify-content: space-between;
  align-items: center;

  &-list {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;

    &-item
    {
      display: inline-block;
      padding: 10px;
    }

    &-item-link:link,
    &-item-link:visited
    {
      color: $-color-dark-green;
      text-decoration: none;
      transition: all .2s;
    }

    &-item-link:hover,
    &-item-link:active
    {
      color: $-color-sand;
    }
  }

  .black {
    background-color: $-color-black-1 !important;
    font-size: 16px !important;
  }
}

.header-logo {
  width: 175px;
}

//Product
.product-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background: #CEC3AE;
  //max-width: 1200px;
  //width: 1000px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  //justify-content: center;

  //align-items: flex-end;
}

.product-image-box {
  //flex: 0 0 40%;
  flex: 0 0 30%;
  //background: indianred;
  //align-self: flex-end;

}

.product-description-box {
  flex: 1;
  //background: #274438;
  text-align: center;
}

//Image
.product-image {
  //width: 100%;
  width: 300px;
  display: block;
}

.heading-one {
  font-size: 45px;
  color: $-color-dark-green;
  text-transform: uppercase;

  &-span-1 {
    font-size: 24px;
    font-weight: bold;
    color: $-color-black-1;

  }

  &-span-2 {
    display: block;
    width: 80%;
    margin: 10px auto 20px auto;
    //margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: $-color-dark-green;

  }
}

.btn-buy:link,
.btn-buy:visited
{
  //margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: $-color-white;
  background: #274438;
  border: 1px solid #274438;
  box-sizing: border-box;
  border-radius: 50px;

  transition: all .2s;
}

.btn-buy:hover,
.btn-buy:active
{
  //margin-top: 10px;
  color: $-color-sand;
  //background: #039f6f;

}

///////////////////////
/////////SECTION ONE

.separator {
  text-align: center;
}

.image-separator {
  height: 30px;
  opacity: 70%;
}


.section-one {
  //width: 1200px;
  padding: 80px 0 60px 0;
  background: $-color-dark-green;
}

.heading-two {
  font-size: 40px;
  color: $-color-white;
  //color: $-color-sand;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

.para-copy {
  display: block;
  width: 500px;
  margin: 20px auto 20px auto;
  //margin-top: 10px;
  font-size: 24px;
  text-align: center;
  color: $-color-white;
}

.coffee-images {
  //background: red;
  width: 1000px;
  margin: 60px auto -100px auto;

  display: flex;

  justify-content: space-evenly;
  //justify-content: space-around;
  //align-items: stretch;
}


.image-one,
.image-two {

}

.coffee-1,
.coffee-2 {
  display: block;
  width: 300px;
  //border: 5px solid #FFFFFF;
  border: 5px solid $-color-sand;
  border-radius: 50px;
}

/////////////////////
// SECTION MIDDLE

.section-middle {
  //height: 90vh;
  padding: 120px 0 70px 0;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,.975), rgba(255,255,255,.975)), url("images/4K.png") ;

}

.middle-box {
  display: flex;
  width: 1140px;
  margin: 50px auto 0 auto;
  justify-content: center;
  align-items: center;

  &-image {
    flex-basis: 50%;
    text-align: right;
    padding-right: 3%;

  }

  &-description {
    font-size: 18px;
    flex-basis: 50%;
    padding-left: 3%;

  }
}

.middle-image {
  display: block;
  //width: 60%;
  //width: 100%;
  border: 5px solid $-color-sand;
  //border: 5px solid $-color-dark-green;
  border-radius: 50px;
  width: 100%;

}

.middle-description {
  margin-bottom: 40px;
  display: flex;

  div {
    color: $-color-dark-green;
    //border: 2px solid $-color-dark-green;
    border: 1.5px solid $-color-dark-green;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    //float: left;
    font-size: 24px;
    margin-right: 25px;
  }
}

/*.middle-description div {
  color: red;
}*/


.section-two {
  padding: 80px 0;
  background: $-color-sand;
}

.story {
  color: $-color-dark-green;
}

.story-box {
  width: 1000px;
  //background-color: indianred;
  margin: 30px auto 0 auto;

  display: flex;
  justify-content: space-between;

  font-size: 24px;

}

.story-image {

  flex-basis: 40%;
  text-align: center;

  .bio-image {
    width: 300px;
    border-radius: 50%;
  }

  .bio-name {
    font-style: italic;
    color: $-color-dark-green;
  }

  .bio-title {
    font-style: italic;
    font-weight: bold;
    color: $-color-dark-green;
  }

}

.story-description {
  border-radius: 50px;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,.97), rgba(255,255,255,.97)), url("images/4K.png") ;


  //flex: 1;
  flex-basis: 55%;

  .story-para {
    text-align: left;
    padding: 40px 10px;
    width: 60%;
    margin: 0 auto;
    position: relative;
  }

  .story-para::before {
    display: block;
    font-family: serif;
    content: "\201C";
    //font-size: 500%;
    font-size: 200px;
    position: absolute;
    top: -100px;
    left: -95px;
    color: $-color-sand;
  }

}


/////////////////////
// SECTION LAST

.section-last {
  //height: 90vh;
  padding: 20px 0 90px 0;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,.97), rgba(255,255,255,.97)), url("images/4K.png") ;
  text-align: center;

    .product-last-box {
      width: 1000px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      //display: inline-block;

      .product-last {
        width: 300px;
        margin: 80px 0 60px 0;
      }

    }
}

.footer {
  padding: 30px;
  background-color: $-color-black-1;
  font-size: 20px;
}

.footer-content {
  width: 1000px;
  margin: 0 auto;
}
.footer-box {

  display: flex;
  justify-content: space-between;

  span a:link,
  span a:visited
  {
    text-decoration: none;
    color: $-color-white;
    transition: all .2s;
  }

  span a:hover,
  span a:active
  {
    color: $-color-sand;
  }

}

.footer-image {
  //width: 100%;
  text-align: center;
}

.footer-logo {
  width: 100px;
}

.footer-item {
  padding: 10px;
}

.footer-copy {
  margin-top: 40px;
  text-align: center;
  //font-size: 20px;
  color: $-color-white;
}



